.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-mono);
  padding-top: 6%;
}

.title {
  font-size: 5vw;
  padding-bottom: 3vw;
}

.midTitle {
  font-size: 3vw;
  padding-bottom: 3vw;
}

.subTitle {
  font-size: 2.5vw;
  padding-bottom: 3vw;
}

.contact {
  font-family: var(--font-mono);
  padding-top: 7vw;
  font-size: 1.5vw;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
  .title {
    font-size: 6vw;
    padding-bottom: 3vw;
  }

  .midTitle {
    font-size: 5vw;
    padding-bottom: 3vw;
  }

  .subTitle {
    font-size: 4vw;
  }

  .contact {
    font-family: var(--font-mono);
    padding-top: 7vw;
    font-size: 3vw;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
